# --- ARQUIVOS DO PYTHON (PADRÃO) ---
__pycache__/
*.py[codz]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Ambientes Virtuais (IMPORTANTE IGNORAR)
.env
.envrc
.venv
env/
venv/
ENV/

# VS Code e Editores
.vscode/
.idea/
*.swp
*.bak

# --- CONFIGURAÇÃO DO SCRIPTBOT (MARCOS) ---

# 1. Ignoramos a pasta venv
venv/

# 2. Configuração da Pasta de Macros:
# Ignora tudo que estiver dentro da pasta macros
macros/*

# 3. EXCEÇÃO: Enviar APENAS o coordenadas.py
!macros/coordenadas/

# Mantém a pasta macros lá no GitHub
!macros/.gitkeep